@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');

.imgContainer {
    width: 100%;

    z-index: -10;
  }
.content{
    position: relative;
    z-index: -12;
    width: 100%;
    background:white;
    animation: reveal 1.8s ease-out forwards;
    animation-delay: 0.5s;
    visibility: hidden;
  
}

.content .img{
    position:absolute;
    height:100%;
    object-fit: cover;
}
@keyframes reveal {
    0%{
        top:-40vh;
        right:-20vw;
        visibility: visible;
    }
    100%{
        top:0vh;
        right:0vw;
        visibility: visible;
    }
}
.img2 {
    padding:0;
    height:10%;
    justify-self: baseline;
    z-index: -5;
    animation: reveal2 1.5s linear forwards;
  }

@keyframes reveal2 {
    0%{
        opacity:0;
    }
    100%{
       opacity:1;
    }
    
}
@keyframes reveal3{
    0%{
        opacity:0;
        visibility: visible;
  
    }
    100%{
       opacity:1;
       visibility: visible;
      
    }
    
}
.hero-Container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
  
    
}
.text-Container{
    background-color: #fff;
    color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto auto auto; 
 
}
.Hero-text{
    font-family: 'Noto Serif Display', serif;
     //Change image min-height to between these two values when the width is between something and 800 or when height is between 667 and 1200
   // font-size:calc(15rem + (18.75 - 15) * ((100vw - 18.75rem) / (50 - 18.75)));
   // Same concept but for margin height and then when width is desktop level return these to normal values (auto)
    //calc(13rem + (25 - 13) * ((100vw - 25rem) / (97.5 - 25)));
    // And if need be I can apply same concept for screens bigger than desktop
    font-size:calc(2rem + (3.125 - 2) * ((100vw - 25rem) / (97.5 - 25)));
    font-weight: 600;
    padding:0;
    margin-left:0px;
    z-index: +2;
    text-align: center;
    position:relative;
    animation: reveal3 1s ease-in forwards;
    animation-delay: 1.85s;
    visibility: hidden;
}
.btn{
    display: flex;
    justify-content: center;
    margin: 5% auto auto auto;
    cursor: pointer;
    border: 1px solid #000000;
    background-color: transparent;
    padding: 1rem 1rem 1rem 1rem;
    max-height: 20%;
    position: relative;
    animation: reveal4 1.40s ease forwards;
    animation-delay:2.5s ;
    visibility: hidden;
    font-family: 'Noto Serif Display', serif;
    font-size:calc(1.25rem + (2 - 1.25) * ((100vw - 25rem) / (80 - 25)));
    text-decoration: none;
    
            
}

@keyframes reveal4{
    0%{
        opacity:0;
        bottom: -20vh;
        visibility: visible;
    }
    100%{
       opacity:1;
       bottom: 0vh;
        visibility: visible;
    }
}
.link{
    text-decoration: none;
    color:#000000 !important;
} 

@media all and (max-width:820px) {
    .img2{
        margin-top: calc(10rem + (18.75 - 10) * ((100vw - 18.75rem) / (50 - 18.75)));;
    }
    .content{
        min-height:calc(13rem + (21.875 - 13) * ((100vw - 18.75rem) / (50 - 18.75)));
   
    }
    .btn{
        margin:2% auto auto auto;
    }
}
@media (prefers-color-scheme: dark) {
    .text-Container{
        background-color: white;
        color: black;
    }
    .Hero-text{
        background-color: white;
        color: black;

    }
  }
