.background{
    padding: 2rem 26% 2rem 26%;
    background-color: #e3e3e3;
    color:black;
}
.form{
    margin-top:-1rem;
}
.text-titles{
    font-size:calc(1.5rem + (2 - 1.5) * ((100vw - 25rem) / (97.5 - 25)));
}

.description{
    font-size: calc(1rem + (1.6 - 1) * ((100vw - 25rem) / (97.5 - 25)));
    color:#a9a9a9;
}

.form-group{
    padding: 0.25rem;
  }
.form-group2{
    width: 45%;  
}

.form-control{
    display:block;
    width:100%;
    height:calc(1.25rem + (2.2 - 1.25) * ((100vw - 25rem) / (97.5 - 25)));
    border-radius:1.563rem;
    border: 1px solid #ced4da;
    padding:0.375rem 0.75rem;
    font-size:inherit;
    box-sizing: content-box;
      
}
.title{
    text-align: center;
}

.space{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap:wrap;
}
.size{
    width: 49%;
}
.bdiv{
    text-align: center;
}
.buttons{
    margin:auto;
    background-color: rgba(169,169,169,1);
    padding: 8px 25px;
    border: none;
    border-radius: 1.563rem;
    cursor:pointer;
    font-family: 'Noto Serif Display', serif;
    font-size: calc(1rem + (1.5 - 1) * ((100vw - 25rem) / (97.5 - 25)));
    color: #FFF;
}
.buttons:hover{
    background-color: rgba(169,169,169,0.8);
}
.input-text {
    min-height: calc(4.5rem + (7.5 - 4.5) * ((100vw - 25rem) / (97.5 - 25)));
    width: 100%;
    border: 1px solid #ced4da;
    padding: 0.625rem;
    resize: vertical;
    box-sizing: content-box;
  }
.text{
    font-size: calc(0.75rem + (1.125 - 0.75) * ((100vw - 25rem) / (97.5 - 25)));
    font-weight: bold;

}
label{
    display: block;
}
@media all and (max-width:820px) {
    .form-group2{
        width:100%;
    }
    .background{
     padding: 2rem 20% 2rem 20%;
    }

}