@import "../../Sass/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
.navbar{
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    color: #FFF;
}
.navbarInner{
    line-height: 30px;
    align-items: center;
    justify-content: flex-end;
    
}

.textdiv{
    display: flex;
    line-height: 30px;
    margin: auto 5% auto auto;
}
.dleft{
    display: flex;
}
h1{
    margin:0;
}
.logo{
    margin:auto auto auto 5%;
    color:$white;
    font-family: 'Noto Serif Display', serif;
    font-size:calc(1.5rem + (3.125 - 1.5) * ((100vw - 25rem) / (80 - 25)));
    text-decoration: none;
}
.logo2{
    margin:auto;
    color:$white;
    font-family: 'Noto Serif Display', serif;
    font-size:calc(1.5rem + (3.125 - 1.5) * ((100vw - 25rem) / (80 - 25)));
    text-decoration: none;
    display: none;
}
.list{
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: -2%;
   
}
.list-item{
    margin: 0;
    padding: 0px;
    font-family: 'Noto Serif Display', serif;
    list-style-type:none;
    transition: all 0.3s ease 0;
}
.list-item:hover{
    color:#a9a9a9;
}
.b-link{
    margin:auto;
}
.button{
    display: inline-block;
    background-color: rgba(169,169,169,1);
    padding: 0.5rem 1.563rem;
    border: none;
    border-radius: 1.563rem;
    cursor:pointer;
    font-family: 'Noto Serif Display', serif;
    font-size: calc(0.8rem + (1.5 - 0.8) * ((100vw - 25rem) / (80 - 25)));
    color: #FFF;

    text-align: center;

}
.button:hover{
    background-color: rgba(169,169,169,0.8);
}
.label{
    margin: 0 0 0 0;
    font-size: 1.7rem ;
    line-height: 30px;
    display: none;
    color:white;
}
.toggle{
    display: none;
}
@media all and (max-width:768px){
    .label{
        display: inline-block;
        cursor: pointer;
        width:5%;
        margin-left: 70%;
        
     
    }
    .navbar{
        height: auto;
    }
    
    .textdiv, .list-item,.dleft,.list{
        display: block
    }
    .textdiv{
        text-align: center;
        margin-top: 15px;
        width: 100%;
        display: none;
    }
    input{
        &:checked + .textdiv{
            display: block;
        }
    }
    .logo{
        line-height: 30px;
        margin-left: 2%;
        display: none;
    }
    .logo2{
        display: inline-block;
        margin-left: 3%;
        margin-top: 3%;
        &:hover {
            color: #a9a9a9;;
          }
    }
   
    .button{
        margin-top: 3%;
    }
    

}

