@import "../../Sass/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
.navbar{
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    color: #FFF;
}
.navbarInner{
    display:flex;
    margin-right:30px;
    align-items: center;
    justify-content: flex-end;
    
}
h1{
    margin:0;
}
.logo{
    margin:0 auto 0 87px;
    color:$white;
    font-family: 'Noto Serif Display', serif;
    font-size:calc(1.5rem + (3.125 - 1.5) * ((100vw - 25rem) / (80 - 25)));
    text-decoration: none;
}
.list{
    margin: 0;
    padding: 0;
    display: flex;
   
}
.list-item{
    margin: 0;
    padding: 0px;
    font-family: 'Noto Serif Display', serif;
    list-style-type:none;
    transition: all 0.3s ease 0;
}
.list-item:hover{
    color:#a9a9a9;
}
.button{
    display: inline-block;
    margin-left:1.25rem;
    background-color: rgba(169,169,169,1);
    padding: 0.5rem 1.563rem;
    border: none;
    border-radius: 1.563rem;
    cursor:pointer;
    font-family: 'Noto Serif Display', serif;
    font-size: calc(1rem + (1.5 - 1) * ((100vw - 25rem) / (80 - 25)));
    color: #FFF;
    min-width: 180px;
    max-height:3rem ;
    text-align: center;

}
.button:hover{
    background-color: rgba(169,169,169,0.8);
}
.label{
    margin: 0 0 0 0;
    font-size: 1.7rem ;
    display: none;
    color:white;
}
.toggle{
    display: none;
}
@media (max-width:500px){
    .label{
        display: inline-block;
        cursor: pointer;
    }
    
    

}

